.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

table {
  width: 100%;
}


.add-student {
  color: white;
  background-color: #0074b7;
  font-size: 13px !important;
  margin-bottom: 1.5em;
}
.add-std {
  font-size: 20px !important;
}
