.whole {
  //width: 100%;
  overflow-x: hidden;
}

.chains {
  //width: 100%;
  display: block;
}

.chains mat-card {
  display: inline-block;
}

mat-card {
  /*flex: 1 2 auto;
  height: 20%;
  margin: 30px;*/
}

.fab_icon {
  position: fixed;
  bottom: 1%;
  margin-bottom: 0.7rem;
  margin-right: 0rem;
}
.mat-icon {
  color: #fff;
}

.mat-turma {
  background-color: #60a3d9;
  color: #fff;
}

.fac_class {
  width: 2rem;
  position: relative;
  float: right;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 2px;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 630px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 486px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 335px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

mat-divider {
  margin: auto;
  width: 70%;
  margin-bottom: 3rem;
  background-color: #fcfcfc;
}
