<div class="page-container">
    <div class="chains">
        <ng-container *ngFor="let turma of turmas; let i = index">

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{turma.ano}}º{{turma.sigla}}</mat-card-title>
                    <mat-card-subtitle>{{turma.professor.escola}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/logo_esag.png"
                    alt="Logo escola">
                <mat-card-content>
                    <p>
                       Um texto qualquer informativo, possivelmente com o número de alunos e de testes ao longo de um ano
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Avaliações</button>
                    <button mat-button>Mais...</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>

    </div>
</div>
<div class="fac_class" >
    <div class="fab_icon">
        <!--(click)="tShowAdu()"-->
        <a mat-mini-fab color="turma" routerLink="." matTooltip="Adicionar turma" [matTooltipPosition]="'left'"
            (click)="adicionarTurma()">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>
