table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 1px solid #adadad;
  font-weight: normal;
  background-color: #adadad;
  color: #fcfcfc;
  font-size: 0.8rem;
}
td,
th {
  
  text-align: center;
  padding: 8px;
}

td {
  border: 1px solid #d6d6d6;
  font-size: 0.7rem;
}
