.container {
  width: 100%;
}

.form-select {
  font-size: small;
}

.form-control {
  font-size: small;
}

.align-left {
  float: left;
  width: 50%;
}

.align-right {
  padding-top: 7.4rem;
  float: right;
  width: 50%;
}

.add_button {
  font-size: small;
}
