<form [formGroup]="form" (submit)="submit(form.value)">
  <ng-container
    formArrayName="perguntas"
    *ngFor="let pergunta of perguntas.controls; index as i"
  >
    <ng-container [formGroupName]="i">

        <mat-divider class="divider"></mat-divider>
        
      <div class="form-group">
        <label for="pergunta">Pergunta</label>
        <input
          type="text"
          class="form-control"
          id="perguntaInput"
          aria-describedby="perguntaHelp"
          placeholder="Ex: 1 ou 1.1"
          formControlName="pergunta"
        />
      </div>
      <div class="form-group">
        <label class="label-cotacao" for="cotacao">Cotação</label>
        <input
          type="number"
          class="form-control"
          id="cotacaoInput"
          placeholder="Ex: 10"
          formControlName="cotacao"
        />
      </div>

      
    </ng-container>
  </ng-container>

  <div class="botoes">
    <button
      type="button"
      class="addPergunta btn btn-secondary btn-sm"
      (click)="addPergunta()"
    >
      Adicionar Pergunta
    </button>
    <button class="btn btn-primary btn-sm" type="submit">Submeter</button>
  </div>
</form>
