<div class="main">
  <div class="container">
    <div class="align-left col-md-7 col-lg-9">
      <form
        class="needs-validation"
        [formGroup]="adicionarAlunoForm"
        novalidate
      >
        <div class="row g-4">
          <div class="col-7">
            <label for="numero_aluno" class="form-label">Número do Aluno</label>
            <input
              type="text"
              class="form-control"
              id="numero_aluno"
              placeholder=""
              value=""
              formControlName="numero_aluno"
              required
            />
            <div class="erro_input" *ngIf="numeroAlunoInvalido">
              Número do aluno inválido.
            </div>
          </div>
          <div class="col-7">
            <label for="primeiro_nome_aluno" class="form-label"
              >Primeiro Nome</label
            >
            <input
              type="text"
              class="form-control"
              id="primeiro_nome_aluno"
              placeholder=""
              value=""
              formControlName="primeiro_nome_aluno"
              required
            />
            <div class="erro_input" *ngIf="primeiroNomeInvalido">
              Primeiro nome inválido.
            </div>
          </div>
          <div class="col-7">
            <label for="ultimo_nome_aluno" class="form-label"
              >Último Nome</label
            >
            <input
              type="text"
              class="form-control"
              id="ultimo_nome_aluno"
              placeholder=""
              value=""
              formControlName="ultimo_nome_aluno"
              required
            />

            <div class="erro_input" *ngIf="ultimoNomeInvalido">
              Último nome inválido.
            </div>
          </div>
          <div class="col-7">
            <label for="email_aluno" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email_aluno"
              placeholder=""
              value=""
              formControlName="email_aluno"
              required
            />
            <div class="erro_input" *ngIf="emailInvalido">Email inválido.</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
